body{
background-color: black;
color: aliceblue;
border: solid;
line-height: normal;
font-size: 40px;
}

h1{
color: crimson;
font-size: 90px;
text-align: center;

}

a{
text-decoration: none;
text-align: center;
color: aliceblue;
}